<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace：命名空间，用于隔离sql，还有一个很重要的作用，后面会讲 -->
<mapper namespace="com.answer.base.dao.CommentMapper">
    <resultMap id="CommentMap" type="com.answer.base.entity.Comment">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"></result>
        <result column="uid" property="uid" jdbcType="INTEGER"></result>
        <result column="classic_id" property="classicId" jdbcType="INTEGER"></result>
        <result column="pid" property="pid" jdbcType="INTEGER"></result>
        <result column="content" property="content" jdbcType="LONGVARCHAR"></result>
        <result column="user_name" property="userName" jdbcType="VARCHAR"></result>
        <result column="user_avatar" property="userAvatar" jdbcType="VARCHAR"></result>
        <collection select="getChild" property="child"  column="id" ofType="com.answer.base.entity.Comment"> </collection>
    </resultMap>
    <sql id="base_column_list">
        id,create_time,uid,classic_id,pid,content
    </sql>
    <select id="selectCommentByClassicId" parameterType="INTEGER" resultMap="CommentMap">
        select c.id,c.create_time,c.uid,c.classic_id,c.pid,c.content,u.user_name,u.avatar_url as user_avatar from comment c JOIN user u ON u.id=c.uid where c.classic_id=#{cid} and pid=0
    </select>
    
    <select id="getChild" parameterType="INTEGER" resultMap="CommentMap">
        select c.id,c.create_time,c.uid,c.classic_id,c.pid,c.content,u.user_name,u.avatar_url as user_avatar from comment c JOIN user u ON u.id=c.uid  where pid =#{id}
    </select>
</mapper>