<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.base.dao.HoleMapper">
    <resultMap id="HoleMap" type="com.answer.base.vo.SingleHoleVO">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"></result>
        <result column="comment_visible" property="commentVisible" jdbcType="INTEGER"></result>
        <result column="can_comment" property="canComment" jdbcType="INTEGER"></result>
        <result column="avatar_url" property="avatarUrl" jdbcType="VARCHAR"></result>
    </resultMap>

    <insert id="insertHole" parameterType="com.answer.base.entity.Hole">
        insert into
        <trim prefix="hole(" suffix=")">
            title,content,uid,type,can_comment,comment_visible
        </trim>
        <trim prefix="values(" suffix=")">
            #{title},#{content},#{uid},#{type},#{canComment},#{commentVisible}
        </trim>
    </insert>

    <select id="getMyHole" parameterType="com.answer.base.dto.PagingDTO" resultMap="HoleMap">
        select * from hole where uid=#{key} and delete_time is null order by create_time desc
    </select>

    <select id="getRandHole" parameterType="com.answer.base.dto.PagingDTO" resultType="com.answer.base.vo.RandHoleVO">
    SELECT h.id,h.title,h.content,h.uid,h.type,(case
        when h.type=2 then "匿名用户"
        else u.user_name
        end
       )userName,u.gender,h.create_time as createTime FROM hole h JOIN `user` u ON u.id=h.uid  WHERE type!=3 and uid!=#{key} and delete_time is null ORDER BY RAND() LIMIT #{size}
    </select>

    <select id="getHoleById" parameterType="INTEGER" resultMap="HoleMap">
        select h.id,h.title,h.content,h.uid,h.type,h.create_time,h.comment_visible,h.can_comment,(
        case when h.type=2 then "匿名用户"
        else u.user_name
        end
        )userName,u.gender,u.avatar_url from hole h join user u ON u.id=h.uid where h.id=#{id} and h.delete_time is null
    </select>
</mapper>