<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.answer.base.dao.LetterMapper">
    <resultMap id="letterMap" type="Letter">
        <id column="id" property="id"></id>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"></result>
        <result column="plan_time" property="planTime" jdbcType="TIMESTAMP"></result>
    </resultMap>

    <sql id="monthBase">
        UNION ALL SELECT 1 as label,0 as `value`
        UNION ALL SELECT 2 as label,0 as `value`
        UNION ALL SELECT 3 as label,0 as `value`
        UNION ALL SELECT 4 as label,0 as `value`
        UNION ALL SELECT 5 as label,0 as `value`
        UNION ALL SELECT 6 as label,0 as `value`
        UNION ALL SELECT 7 as label,0 as `value`
        UNION ALL SELECT 8 as label,0 as `value`
        UNION ALL SELECT 9 as label,0 as `value`
        UNION ALL SELECT 10 as label,0 as `value`
        UNION ALL SELECT 11 as label,0 as `value`
        UNION ALL SELECT 12 as label,0 as `value`
        UNION ALL SELECT 13 as label,0 as `value`
        UNION ALL SELECT 14 as label,0 as `value`
        UNION ALL SELECT 15 as label,0 as `value`
        UNION ALL SELECT 16 as label,0 as `value`
        UNION ALL SELECT 17 as label,0 as `value`
        UNION ALL SELECT 18 as label,0 as `value`
        UNION ALL SELECT 19 as label,0 as `value`
        UNION ALL SELECT 20 as label,0 as `value`
        UNION ALL SELECT 21 as label,0 as `value`
        UNION ALL SELECT 22 as label,0 as `value`
        UNION ALL SELECT 23 as label,0 as `value`
        UNION ALL SELECT 24 as label,0 as `value`
        UNION ALL SELECT 25 as label,0 as `value`
        UNION ALL SELECT 26 as label,0 as `value`
        UNION ALL SELECT 27 as label,0 as `value`
        UNION ALL SELECT 28 as label,0 as `value`
        UNION ALL SELECT 29 as label,0 as `value`
        UNION ALL SELECT 30 as label,0 as `value`
        UNION ALL SELECT 31 as label,0 as `value`
    </sql>

    <insert id="insertOne" parameterType="com.answer.base.entity.Letter">
        insert into letter(uid,title,content,email,plan_time) values(#{uid},#{title},#{content},#{email},#{planTime}) ON DUPLICATE KEY
         UPDATE title = values(title),content=values(content),email=values(email),plan_time=values(plan_time)
    </insert>

    <select id="getMyLetter" parameterType="INTEGER" resultMap="letterMap">
        select  * from letter where uid = #{uid} and delete_flag=0
    </select>

    <update id="updateMyLetter" parameterType="com.answer.base.entity.Letter">
        update letter
        <set>
            <if test="email">
                email=#{email},
            </if>
            <if test="content">
                content=#{content},
            </if>
            <if test="title">
                title=#{title},
            </if>
        </set>
        where id=#{id} and uid =#{uid}
    </update>

<!--    根据 keyword的不同获取已经过时间(future) 和未过期的信件 (past) -->
    <select id="getLetterList" resultType="com.answer.base.vo.LetterVO">
        select
        l.id,
        l.create_time as createTime,
        l.email,
        l.title,
        l.content,
        l.plan_time as planTime,
        l.post_time as postTime,
        u.user_name as userName,
        u.avatar_url as avatarUrl
        from letter l join user u on u.id = l.uid
        where l.delete_time is null
        <if test='keyword=="future"'>
            and l.plan_time >= current_timestamp
        </if>
        <if test='keyword=="past"'>
            and l.plan_time &lt;= current_timestamp
        </if>

    </select>
</mapper>