<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.base.dao.VersionMapper">
    <resultMap id="versionMap" type="Version">
        <id column="id" property="id"></id>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"></result>
    </resultMap>
    <select id="getVersionList" resultMap="versionMap">
        select * from version where delete_time is null
    </select>
    <insert id="insertVersion" parameterType="com.answer.base.entity.Version">
        insert into `version`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="release!=null">
                `release`,
            </if>
            <if test="intro!=null">
                intro,
            </if>
            <if test="wgt!=null">
                wgt,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="release!=null">
                #{release},
            </if>
            <if test="intro!=null">
                #{intro},
            </if>
            <if test="wgt!=null">
                #{wgt},
            </if>
        </trim>
    </insert>

    <select id="getLatestVersion" resultType="com.answer.base.entity.Version">
        select * from version where delete_time is null order by id desc limit 1
    </select>

    <update id="updateVersion" parameterType="com.answer.base.entity.Version">
        update version
        <set>
            <trim suffixOverrides=",">
                <if test="intro!=null">
                    intro=#{intro},
                </if>
                <if test="wgt!=null">
                    wgt = #{wgt}
                </if>
            </trim>
        </set>
        where id = #{id} and delete_time is null
    </update>
</mapper>