<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.answer.base.dao.WxMapper">
    <resultMap id="WxMap" type="AccessToken">
        <id column="id" property="id"></id>
        <result column="token" property="token"></result>
    </resultMap>
    <insert id="insertAccessToken">
        insert into
        <trim prefix="access_token(" suffix=")" suffixOverrides=",">
            <if test="token!= null">
                token
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="token!= null">
                #{token}
            </if>
        </trim>
    </insert>
    <select id="getAccessToken" resultType="java.lang.String">
        select token from access_token where TIMESTAMPDIFF(SECOND,create_time,current_timestamp) &lt; 7200 order by create_time limit 1
    </select>
</mapper>